extends fancy_layout
append styles
  link(href="../css/bike_page.css", rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Chonburi", rel="stylesheet")

block navbar
  nav
    ul
      li.active
        a(href="fancy") Home
      li
        a(href="fancy_resume") Resume
      li
        a(href="projects") Projects
      li
        a(href="#") About
      li
        a(href="#") Contact

block content
  .content-wrapper-one
    .header
      .header-text
        p Planes, Trains, and Mostly Bicycles
        
    .body-content
      p lsdfjsdl
  
