extends fancy_layout
append styles
  link(href="../css/fancy_resume.css", rel="stylesheet")

block navbar
  nav
    ul
      li
        a(href="fancy") Home
      li.active
        a(href="fancy_resume") Resume
      li
        a(href="projects") Projects
      li
        a(href="#") About
      li
        a(href="#") Contact


block content
  .content-wrapper
      
    .fast-image-block
      
    .text-content.inner
      h3 FAST Enterprises
      h4 Employment: 2017 - Present
      p At FAST I worked with a vibrant team of people I don't know yet to work on things I don't know about.
    
    .ewu-image-block
      
    .text-content.inner
      h3 Eastern Washington University
      ul(style='white-space:pre;')
        li
          p Bachelors of Computer Science 
        li
          p 3.51 GPA								
        li
          p Experience working on group projects over a variety of topics. You can view some of these projects #[a(href='projects', style = "color: #ff0000") here].
    
      
