extends fancy_layout
append styles
  link(href="../css/fancy_home_page.css", rel="stylesheet")

block navbar
  nav
    ul
      li.active
        a(href="fancy") Home
      li
        a(href="fancy_resume") Resume
      li
        a(href="projects") Projects
      li
        a(href="#") About
      li
        a(href="#") Contact


block content
  .content-wrapper-one
    .heading-font
      .title
        h1 Welcome
    .sub-font
      .sub-title
        p I'm Cameron Massey
    
    .sub-font  
      .sub-sub-title
        p and I like to code
    
    .sub-font  
      .sub-sub-sub-title
        p and do some other stuff
      
    //.welcome-button
      h1 Welcome
      a(href="fancy_resume", class="btn btn-lg btn-default") Learn more
    
  .content-wrapper-two
    .heading-font
      h1 What I'm good at:
      
    .sub-font
      .skills-description
        .life-skills
          ul
            li
              p Taking complex problems and breaking them down into smaller solvable chunks.
            li
              P Working in a team first environment. I like people!
            li
              p Learning. I love to learn new things and I'm always seeking to learn more.
        .code-skills
          ul
            li
              p Node.js
              ul
                li I discovered Node.js my senior year of college and I've been tinkering with it ever since. I built this website using express and pug.
                li I helped create an automated web service that alerted Spokane residents with up to the minute traffic alerts. Check it out below.
            li
              p Mongo
            li
              p SQL
  
  .content-wrapper-three
    .projects-title
      .heading-font
        h1 Projects
        
    .content-wrapper-three-content
      .project
        .breakout-pic
        .breakout-description
          .heading-font
            h2 Breakout
          .sub-font
            p For the final project of an android development class I took in college I created this phone app. Its a remake of the classic breakout game.
      .project
        .alert-pic
        .alert-description  
          .heading-font
            h2 Alert System
          .sub-font
            p Me and three others created this project at EWU for our University Culminating Project. The purpose of this project is to provide a a single web app that provides information and push notifications for local alerts in the Spokane area. Alerts include WSDOT traffic alerts such as road closures, traffic incidents, road conditions, and severe weather warnings through NWS. The future goal of the project is too include other alert services like fires, crime, and school closures.
      .project
        .website-pic
        .website-description
          .heading-font
            h2 This Website!
          .sub-font
            p I made this website using express and pug, all built in Node.js.
    .resume-title
      .heading-font
        h1 Resume
    .pdf-div
      embed(src = "/images/Resume.pdf" width = '960px' height = '960px') 
  
  .content-wrapper-four
    p some text
    
        
