extends fancy_layout
append styles
  link(href="../css/fancy_home_page.css", rel="stylesheet")

block navbar
  nav
    ul
      li.active
        a(href="fancy") Home
      li
        a(href="fancy#projects") Projects
      li
        a(href="fancy#resume") Resume
      li
        a(href="fancy#about") About
      li
        a(href="fancy#contact") Contact
      li.image
        a(href='https://github.com/OutdoorCoder?tab=repositories')
          img(src = "http://localhost:3000/images/GitHub-Mark.png") 
      li.image
        a(href = 'https://www.linkedin.com/in/cameron-massey-056b89127/')
          img(src = "http://localhost:3000/images/linkedin-logo.png")
      li.icon
        a ☰
        
        
block content
  .content-wrapper-one
    .heading-font
      .title
        h1 Welcome
    .sub-font
      .sub-title
        p I'm Cameron Massey
    
    .sub-font  
      .sub-sub-title
        p and I like to code
    
    .sub-font  
      .sub-sub-sub-title
        p and do some other stuff
      
  .content-wrapper-two
    .skills-description
      .heading-font
        h1 What I'm Up to:
      .sub-font  
        .code-skills
          ul
            li
              p Practicing Node.js and Mongo-db
              ul
                li I discovered Node.js my senior year of college and I've been tinkering with it ever since. I built this website using express and pug.
                li I helped create an automated web service that alerted Spokane residents with up to the minute traffic alerts. Check it out below.
                li I'm currenly learning how to develop web API's using Nodejs.
    .profile-picture
  .content-wrapper-three
    .projects-title#projects
      .heading-font
        h1 Projects
        
    .content-wrapper-three-content
      .project
        .breakout-pic
        .breakout-description
          .heading-font
            h2 Breakout
          .sub-font
            p For the final project of an android development class I took in college I created this phone app. Its a remake of the classic breakout game.
      .project
        .alert-pic
        .alert-description  
          .heading-font
            h2 Alert System
          .sub-font
            p Me and three others created this project at EWU for our University Culminating Project. The purpose of this project is to provide a a single web app that provides information and push notifications for local alerts in the Spokane area. Alerts include WSDOT traffic alerts such as road closures, traffic incidents, road conditions, and severe weather warnings through NWS. The future goal of the project is too include other alert services like fires, crime, and school closures.
      .project
        .website-pic
        .website-description
          .heading-font
            h2 This Website!
          .sub-font
            p I made this website using express and pug, all built in Node.js.
    .resume-title#resume
      .heading-font
        h1 Resume
    .pdf-div
      embed(src = "/images/Resume.pdf" width = '960px' height = '960px') 
  
  .content-wrapper-four
    .heading-font#about
      h1 About Me
    hr
    .content-wrapper-four-content
      .four-section1
        .wrapper-four-image1
        .wrapper-four-p1
          .heading-font
            h2 The Outdoors
          .sub-font
            p Get the coding done, then head outside.
        .wrapper-four-image2
        .wrapper-four-p2
          .sub-font
            p My first passion is rock climbing. I can't exactly explain why but there are few things I would rather spend my time doing.
        .wrapper-four-image3
        .wrapper-four-p3
          .heading-font
            h2 Photography
          .sub-font
            p One of my newer hobbies. Every photo is a story.
        .wrapper-four-image4
        .wrapper-four-image5
        .wrapper-four-image6
        .wrapper-four-image7
        .wrapper-four-p4
          .heading-font
            h2 A Day in the life
          .sub-font
            p On a work-free day, depending on the season, I'd go climbing or skiing with friends taking photos along the way. After, I'd head home and make some bread, then settle down to read a book. 

  .content-wrapper-five#contact
    .content-wrapper-five-content
      .sub-font
        p Email: cameron_massey@yahoo.com
        p Phone: 360-739-3379
        
