extends fancy_layout
append styles
  link(href="../css/fancy_resume.css", rel="stylesheet")
    
block content
  .content-wrapper.inner
    .image-block
      img.image(src='http://localhost:3000/images/fast_logo.png')
    h3 FAST Interprises
    h4 Employment: 2017 - Present
    p At FAST I worked with a vibrant team of people I don't know yet to work on things I don't know about.
