extends ../bootstrap/_bootstrap
append styles
  link(href="../css/fancy_base.css", rel="stylesheet")
  
block body
  .site-wrapper
    .navbar-container
      .navbar-content
        block navbar
    
    block content
      
