extends ../bootstrap/_bootstrap
append styles
  link(href="../css/fancy_home_page.css", rel="stylesheet")
  
block body
  .site-wrapper
    .site-wrapper-content
      .image-container
      block navbar
    
      block content
        p hello
    
    block footer
      p hi
