extends ../bootstrap/_bootstrap
append styles
  link(href="../css/fancy_home_page.css", rel="stylesheet")
  
block body
  .site-wrapper
    .navbar-container
      .navbar-content
        block navbar
          hr(style = "height:1")
          nav
            ul
              li.active
                a(href="fancy") Home
              li
                a(href="resume") Resume
              li
                a(href="projects") Projects
              li
                a(href="#") About
              li
                a(href="#") Contact
    .content-wrapper
      .image-container
      block content
        p hello
    
    block footer
      p hi
