extends fancy_layout
append styles
  link(href="../css/fancy_home_page.css", rel="stylesheet")

block navbar
  nav
    ul
      li.active
        a(href="fancy") Home
      li
        a(href="fancy_resume") Resume
      li
        a(href="projects") Projects
      li
        a(href="#") About
      li
        a(href="#") Contact


block content
  .content-wrapper-one
      
    .welcome-button
      h1 Welcome
      a(href="fancy_resume", class="btn btn-lg btn-default") Learn more
  .content-wrapper-two
    p I am Cameron Massey
    
    
  .content-wrapper-three
