extends projectLayout

block navbar
	h3.masthead-brand Cameron Massey
	nav
		ul.nav.masthead-nav
			li
				a(href="/") Home
			li
				a(href="resume") Resume
			li.active
				a(href="projects") Projects
			li
				a(href="#") About
			li
				a(href="#") Contact
				
block sidebar
	.leftnav
		a(style="color:red;",href="projects#breakout2") Breakout Copy
				
block content
	.inner.content
		h1.cover-heading Projects
		p.lead Here are some of my personal projects.
		.image-block
			h3(id = breakout) Breakout Copy
			a(href="http://localhost:3000/images/Breakout.png")
				img.image(src='http://localhost:3000/images/Breakout.png', style='float: right; height: 400px')
			p For the final project of an android development class I took in college I created this phone app. Its a remake of the classic breakout game.
			
			p(style='white-space:pre;') 
				| sfsdf sd
				| dsfffffffffff
				| sfsdf sd
				| dsfffffffffff
				| sfsdf sd
				| dsfffffffffff
				| sfsdf sd
				| dsfffffffffff
				| sfsdf sd
				| dsfffffffffff
				| sfsdf sd
				| dsfffffffffff
				| sfsdf sd
				| dsfffffffffff
				| sfsdf sd
				| dsfffffffffff
				| sfsdf sd
				| dsfffffffffff
				| sfsdf sd
				| dsfffffffffff
				| sfsdf sd
				| dsfffffffffff
				| sfsdf sd
				| dsfffffffffff
			h3#breakout2 Breakout Copy
				
			
