extends ../bootstrap/_bootstrap
append styles
	//	!-- Custom styles for this template --
	link(href="../css/content_page.css", rel="stylesheet")

block body
	.site-wrapper
		.masthead
			.inner
				block navbar
		.site-wrapper-inner
			.cover-container
				
							
				block sidebar
							
				block content
				.mastfoot
					.inner
						p Phone: 360-739-3379, Email: cameron_massey@yahoo.com
						
				
					
