//Working on getting the left sidebar to align next to the main one

extends layout

block navbar
	h3.masthead-brand Cameron Massey
	nav
		ul.nav.masthead-nav
			li
				a(href="/") Home
			li
				a(href="resume") Resume
			li.active
				a(href="projects") Projects
			li
				a(href="#") About
			li
				a(href="#") Contact
				
block sidebar
	.inner.site-wrapper-inner.leftnav
		p.lead hi. You're attempting to make this into a page navbar kind of thing. On the left side of the page.
				
block content
	.inner.site-wrapper-inner.content
		h1.cover-heading Projects
		p.lead Here are some of my personal projects.
		.image-block
			h3 Breakout Copy
			a(href="http://localhost:3000/images/Breakout.png")
				img.image(src='http://localhost:3000/images/Breakout.png', style='float: right; height: 400px')
			p For the final project of an android development class I took in college I created this phone app. Its a remake of the classic breakout game.
			
