extends layout
append styles
	//	!-- Custom styles for this template --
	link(href="../css/welcome_page.css", rel="stylesheet")

block navbar
	h3.masthead-brand Cameron Massey
	nav
		ul.nav.masthead-nav
			li.active
				a(href="/") Home
			li
				a(href="resume") Resume
			li
				a(href="projects") Projects
			li
				a(href="#") About
			li
				a(href="#") Contact
				
block content
	.inner.cover
		h1.cover-heading Welcome
		p.lead My name is Cameron Massey. This website serves to display my skills and experience in web development, and a bit about me.
		p.lead
		a(href="resume", class="btn btn-lg btn-default") Learn more
