/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  min-height: : 100%;
  height: auto;
  background-color: #77c9d4;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('http://localhost:3000/images/squamish.jpg');
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-size: 17px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  width: 100%;/* For at least Firefox */
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: inline-block;
  width: 80%;
  vertical-align: top;
}
.cover-container {

  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  /*margin-bottom: 70px;*/

}

/* Padding for spacing */
.inner {
  padding: 10px;

}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  /*padding-right: 0;
  padding-left: 0;*/
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}


.project-post
{
  display: inline-block;
}



@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Sidebar
 */

.leftnav{
  width: 10%;
  display: inline-block;
  text-align: left;
  float: left;

  height: 500px;
  padding-left: 10px;


  color: red;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #F0F8FF;
  border: 1px solid #F0F8FF;
  border-radius: 5px;
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
  background-color: #fff;
  text-align: left;
  color: #333;
  text-shadow: none;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;


}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  .mastfoot {
    position: relative;
    bottom: 0;
  }
  /* Start the vertical centering */

  .content {
    width: 90%;
    text-align: left;
    display: inline-block;

    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #ccffff;
    border: 1px solid #ccffff;
    border-radius: 5px;
  }

  .leftnav{
    width: 10%;
    text-align: left;

    margin-top: 40px;
    padding-top: 10px;
    padding-left: 10px;
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #ccffff;
    border: 1px solid #999;
    border-radius: 5px;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
