
/*
Site containers
*/

.content-wrapper-one {
  width: 100%;
  height: 800px;
  background-image: url('http://localhost:3000/images/DSC_0066.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.content-wrapper-two{
  width: 100%;
  height: 500px;
  background-color: #618685;
  /*background: linear-gradient(113deg, #36486b 0%, #1e066e 46.5%, #36486b 46.5%);*/
  font-family: "GT Walsheim",sans-serif;
  font-size: 2.5em;
  line-height: 1.3em;
  font-weight: 600;
  letter-spacing: .03em;
  padding: 10px 10px 10px;
  color: #00FFC6;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.content-wrapper-three {
  width: 100%;
  height: 1000px;
  background-image: url('http://localhost:3000/images/DSC_0064.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/*
Content pieces
*/

.welcome-button{
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
}

.quote-one{
  position: absolute;
  top: 100px;
  left: 190px;
}

.quote-two{
  position: absolute;
  top: 350px;
  left: 1500px;
}

.quote-three{
  position: absolute;
  top: 70px;
  left: 900px;
}
