

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  text-align: center;
  background-color: #F0F8FF;
  border: 1px solid #F0F8FF;
  padding: 10px 20px;
}


html,
body {
  height: 100%;
  background-color: #fff;
  background-size: cover;
  color: #fff;
  font-size: 17px;

}

.inner{
  padding: 10px;
}

/*
Site containers
*/

.site-wrapper {
  width: 100%;/* For at least Firefox */
  height: auto;
  min-height: 100%;

}

.content-wrapper {
  height: 90%;
}

.navbar-container {
  height: 100px;
  background-color: #333;
}

/*
Navbar attributes
*/

.navbar-content{
  height: 100%;
}

.navbar-content > nav {
  height: 100%;
}

.navbar-content > nav > ul {

  background-color: #fefbd8;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-content > nav > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  height: 100%;
}

.navbar-content > nav > ul > li + li {
  margin-left: 30px;
}

.navbar-content > nav > ul > li > a {
  display: inline-block;
  border-bottom: 2px solid transparent;
  padding: 5px 5px;

  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  color: #111; /* IE8 proofing */
  color: rgba(0,0,0,.75);
}

.navbar-content > nav > ul > li > a:hover {

  border-bottom-color: #111;
  border-bottom-color: rgba(0,0,0,.25);
}

.navbar-content .active {
  background-color: #fefbd8;
}

.navbar-content .active > a,
.navbar-content .active > a:hover {
  border-bottom-color: #111;
  background-color: #fefbd8;
  color: #111;
}
