
/*
Site containers
*/
.heading-font{
  font-family: 'Arvo', Georgia, Times, serif;
}

.sub-font{
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.content-wrapper-one {
  width: 100%;
  height: 1000px;
  background-image: url('http://localhost:3000/images/DSC_0069.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;

}

.title > h1 {

  font-size: 400px;
  line-height: 500px;

  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-30%);
}

.sub-title{
  text-align: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%) translateY(-65%);
  width: 100%;

  font-size: 100px;
  line-height: 110px;
}

.sub-sub-title {
  text-align: center;
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translateX(-50%) translateY(-73%);

  font-size: 50px;
  line-height: 60px;
}

.sub-sub-sub-title {
  text-align: center;
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translateX(-50%) translateY(-78%);

  font-size: 20px;
  line-height: 30px;
}

.content-wrapper-two{
  width: 100%;
  height: 500px;
  background-color: #618685;
  /*background: linear-gradient(113deg, #36486b 0%, #1e066e 46.5%, #36486b 46.5%);*/
  font-family: "GT Walsheim",sans-serif;
  font-size: 2.5em;
  line-height: 1.3em;
  font-weight: 600;
  letter-spacing: .03em;

  padding: 10px 10px 10px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.skills-description {
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;

  font-size: 20px;
  line-height: 50px;
}

.life-skills{
  float: left;
}

.code-skills {
  margin-left: 55%;
}

.code-skills > ul > li > ul {
  line-height: 20px;
}

.code-skills > ul > li > ul > li{
  margin: 0 0 10px 0;
}

.content-wrapper-three {
  width: 100%;
  height: 1000px;
  background-image: url('http://localhost:3000/images/DSC_0094.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/*
Content pieces
*/

.welcome-button{
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
}
