

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  text-align: center;
  background-color: #F0F8FF;
  border: 1px solid #F0F8FF;
  padding: 10px 20px;
}


html,
body {
  height: 100%;
  width: auto;
  background-color: #fff;
  background-size: cover;
  color: #fff;
  font-size: 17px;

}

.inner{
  padding: 10px;
}

/*
Site containers
*/

.site-wrapper {
  width: 100%;/* For at least Firefox */
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;


}

.content-wrapper {
  height: 90%;
}

.navbar-container {
  height: 100px;
  background-color: #333;
}

/*
Navbar attributes
*/

.navbar-content{
  height: 100%;
}

.logo-content{

}

.navbar-content > nav {
  height: 100%;
}

.navbar-content > nav > ul {

  background-color: #fefbd8;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  list-style-type: none;
}

.navbar-content > nav > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  height: 100%;
}

.navbar-content > nav > ul > li + li {
  margin-left: 30px;
}

.navbar-content > nav > ul > li > a {
  display: inline-block;
  border-bottom: 2px solid transparent;
  padding: 5px 5px;

  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  color: #111; /* IE8 proofing */
  color: rgba(0,0,0,.75);
}

.navbar-content > nav > ul > li > a:hover {

  border-bottom-color: #111;
  border-bottom-color: rgba(0,0,0,.25);
}

.navbar-content .active {
  background-color: #fefbd8;
}

.navbar-content .image {
  float: right;
}

.navbar-content .icon {
  display: none;
}

.navbar-content .active > a,
.navbar-content .active > a:hover {
  border-bottom-color: #111;
  background-color: #fefbd8;
  color: #111;
}



@media (max-width: 768px) {
  .navbar-content > nav > ul > li > a {display: none;}

  .navbar-content > nav > ul {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar-content .active > a{
    display: inline-block;
  }

  .navbar-content .image {
    display: inline-block;
  }

  .navbar-content .image > a {
    display: inline-block;
    margin-top: 10px;
  }

  .navbar-content .icon {
    display: none;
    float: right;
  }
  .navbar-content .icon > a {
    display: inline-block;
    margin-top: 20px;
    font-size: 40px;
  }

  .navbar-content > nav > ul > li + li {
    margin-left: 10px;
  }

}
